@charset "UTF-8";

/*cores
1 - #FF4F59
2 - #FEFD48
3 - #44E066
4 - #57B7CC
5 - #DF852C
*/

body {
    background-color: #57B7CC;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

header > h1 {
    font-family: bold;
    background-color: #FEFD48;
    color:  #FF4F59;
    height: 110px;
    width: auto;
    font-size: 100px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.472);
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.472);
    text-align: center;
}

div {
    background-image: url(../imagens/cute-anime-girl-hd-wallpaper-uhdpaper.com-717@0@j.jpg);  
}

.imagem {
    margin: 20px;
    height: 400px;
    width: 90vw;
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.472);
}

.imagem2 {
    background-image: url(../imagens/anime-girl-with-katana-hd-wallpaper-uhdpaper.com-719@0@j.jpg);
    margin: 20px;
    height: 400px;
    width: 100vw;
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.472);
}
    
menu > ul > li {
    margin: 20px;
    padding: 0px;
    display: inline-block;
    background-color: #FEFD48;
    padding: 5px;
    margin: 15px;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.472);
    text-decoration: none;
    color: #FF4F59;
}

form {
    background-color: #FEFD48;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.472);
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

p {
    font-size: 11px;
}

li > :hover {
    background-color: #44E066;
    border-radius: 4px;
    padding: 3px;
}

a {
    color: #FF4F59;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: black 0px 1px 3px;
}

main{
   
}

input{
    padding: 3px;
    margin: 3px;
}

label{
   font-family: bold;
}
